$n: 60;
$m: 36;
$r: 5em;
$R1: 3*$r;

html {
  height: 100%;
  perspective: 125em;
  background: black;
}

.torus, .torus *, .torus *:before, .torus *:after {
  box-sizing: border-box;
  position: absolute;
  top: 50%; left: 50%;
  transform-style: preserve-3d;
}

.torus {
  transform: rotateX(-35deg) rotateY(360deg/$n/2);
}

.circle, .circle:before, .circle:after {
  border: solid .125em;
  border-radius: 50%;
}
.circle:before, .circle:after {
  margin: inherit;
  width: inherit; height: inherit;
  content: '';
}

.circleY {
  margin: -$r;
  width: 2*$r; height: 2*$r;
  color: tomato;
}

@for $i from 0 to $n {
  .circleY:nth-child(#{$i + 1}) {
    transform: rotateY($i*360deg/$n) translate($R1)
  }
}

.circleX {
  color: rgba(yellow, .5);
}

@for $i from 0 to $m {
  .circleX:nth-child(#{$i + 1 + $n}) {
    $a: $i*360deg/$m;
    $d: 2*($R1 + $r*sin($a));
    margin: -$d/2;
    width: $d; height: $d;
    transform: rotateX(90deg) translateZ($r*cos($a));
  }
}


//=== Sass 3.3 functionalities
// Maps
$themes: (
  mist: (
    header: #DCFAC0,
    text:   #00968B,
    border: #85C79C
  ),
  spring: (
    header: #F4FAC7,
    text:   #C2454E,
    border: #FFB158
  ),
);

@mixin themed-header($theme-name) {
  body {
    color: map-get(map-get($themes, $theme-name), text);
  }
  
  h1 {
    color: map-get(map-get($themes, $theme-name), header);
    border-bottom: 1px solid map-get(map-get($themes, $theme-name), border);
  }
}

@include themed-header(spring);

@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}

// Suffix
.test {
  color: red;
  
  &--title {
    color: blue;
  }
  &__sub {
    color: green;
  }
}

// @at-root
@media print {
  .page {
    width: 8in;
    @at-root (without: media) {
      color: red;
    }
  }
}


//=== Compass
@import "compass/reset.scss";
@import "compass/layout.scss";
 
@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");
 
#header {
  background: #999999;
  height: 72px;
}
 
#footer {
  background: #cccccc;
}
 
.example {
  height: 500px;
  border: 3px solid red;
  p {
    margin: 1em 0.5em;
  }
}